---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="利用規約｜ペットホテル犬寝" description="ペットホテル『犬寝』では、提供するお預かりサービス(ホテル・お手入れ)の利用規約を以下の通りに定めております。皆様に安心してご利用いただくため、最後までよくお読みいただき御理解いただいたうえで、御署名をお願い致します。事前にお読み頂いておく事で、当日の受付がスムーズに行えます。">
  <div id="agreement__pages">
    <div class="container">
      <h2 class="section__title">ペットホテルお預かり<br class="sp-only">利用規約</h2>
      <p class="agreement__main-txt">
        ペットホテル『犬寝』では、提供するお預かりサービス(ホテル・お手入れ)の利用規約を以下のとおりに定めます。皆様に安心してご利用いただくため、最後までよくお読みいただき御理解いただいたうえで、御利用をお願い致します。
      </p>
      <p class="agreement__subtitle">~利用規約(ホテル・シャンプー)~</p>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆ホテル利用時の持ち物について☆</p>
        <p class="under__spaced">
          ※ホテル利用時に必ずお持ち頂く持ち物<br>
          飼い主様の身分証明書（現住所記載のもの）※初回のお客様には、お預かりサービスをご利用される際に飼育放棄予防のため、身分証明書になる物のご提示いただき、コピーをとらせていただきます。​<br>
          狂犬病ワクチンと混合ワクチン（5種以上）『※猫ちゃんの場合は3種以上』接種証明書のコピー（1年以内に接種のもの）※初回、年1回ご提示いただきます。<br>
          何らかの理由によって接種していない場合は、動物病院より発行される猶予証明書（抗体価検査表など）をお持ちください。<br>
          また、接種証明書の内容によっては、病院に確認をとらせていただきます。<br>
          ※上記の３つは忘れずにお持ち頂く事になります。不備があった場合には当日でもお預かりできなくなりますのでご了承ください。
        </p>
        <p>
          あれば安心できる物<br>
          いつも食べているご飯1食分ずつ小分けにしてお持ちください。<br>
          ※ご飯がかわると体調を崩すことがありますが、手間のかかる行程での食事提供、手作りご飯の場合は、お断りさせていただく場合がございます。<br>
          おやつ、首輪・リード・ハーネス（※体のサイズに合っているもの）、タオル、マット、おもちゃなど、ワンちゃんの持ち物、飼い主様の匂いがついている物があると安心します。<br>
          キャリーや、クレートなどもサイズによっては犬舎内に入れることができます。<br>
          女の子の場合、マナーバンド（様子をみて必要かどうかを判断させていただきます。）<br>
          わんちゃんの保険証など、体調を崩した場合は、当店かかりつけの動物病院へ連れていきます。飼い主様かかりつけの 動物病院をご希望の場合は、相談させていただきます。<br>
          ※別途、診察料の立替・場所によっては交通費を請求させていただきます。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆料金について☆</p>
        <p>
          お預かり料金は、基本前払いにてお支払いをお願い致します。追加料金発生の場合は、お迎え時に御精算ください。※予定より早くお迎えに来られた場合でも、ご返金はできかねますのでご了承ください。詳しい内容は別紙の料金表をご確認ください。<br>
          ※御利用料金の未払いについて猶予期間はお迎え後一週間までとし、期限を経過した場合には法的手段に移行させて頂きます。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆キャンセルについて☆</p>
        <p>
          予約時間前に連絡をいただいた場合には、キャンセル料金はかかりません。<br>
          ただし、事前連絡なしでキャンセルをされる場合など悪質と判断した場合には、次回以降当店の利用は禁止となります。<br>
          事前に連絡がなく予約時間を経過しても御来店がない場合は、当店の判断でキャンセルとさせていただきます。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆お預かりをお断りする場合について☆</p>
        <p class="under__spaced">
          当ペットホテル犬寝が規約に掲載しているハウスルールを守れない方、または以前にハウスルールを守れなかった方、当ホテルが判断して入店禁止を言い渡された方。
        </p>
        <p class="under__spaced">
          混合ワクチン接種証明証、狂犬病ワクチン接種証明書をご提示いただけない場合。<br>
          接種証明書を忘れてしまった場合などでも接種証明を出来ない場合ご利用をお断りさせて頂きますので、忘れないように御注意下さい。<br>
          また、自己判断によるワクチン未接種の場合はお断りの対象となります。
        </p>
        <p>
          ノミ、ダニなど寄生している場合及び、ノミ、ダニの予防処置をしていない場合。<br>
          事前の受付時に虚偽の情報があった場合、著しい攻撃性が見られ危険と判断した場合、ホテル宿泊時に次回のご利用が難しいと判断した場合。<br>
          当ホテルは年齢制限を設けていませんが、生後3か月未満、高齢犬などは、御相談させていただきます。<br>
          病気やケガによる通院・療養中、発情期や妊娠中、心臓・呼吸器系・先天性疾患などの持病がある、ケージに入ることができない、落ち着けない場合・わんちゃん自身で排尿、排便が困難な場合・常に攻撃的、噛み癖、わんちゃん自身に過度なストレスがかかると判断した場合・お薬を服用中の場合。<br>
          女の子の場合、お預かり期間中にヒートがきそうな場合は、事前にお伝えください。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆シャンプーについて☆</p>
        <p>
          シャンプーは完全無添加オーガニックシャンプーを使用していますので、香料などが含まれていません。<br>
          お手持ちのシャンプーを使用希望の場合は事前にお伝えください。<br>
          猫ちゃんの場合、シャンプー・お手入れ自体を苦手とすることが多いので、希望の場合には事前にご相談ください。<br>
          お手入れが苦手、攻撃的なワンちゃんにはカラーや、口輪を使用させて頂く場合がありますので御了承ください。<br>
          また、難しいと判断した場合には安全面を考慮したうえで無理に行わない場合もあります。<br>
          ※必ずお引き渡しの際に説明をさせて頂きます。<br>
          お手入れをご希望の場合は、予約時にお申しつけください。<br>
          お迎え日までにお手入れさせていただきます。<br>
          但し、ご予約状況により、承れない場合がございますので御了承ください。<br>
          シャンプーにはお手入れが全て含まれていますが、拒否が見られた場合には安全を考慮して行わない場合があります。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆割引について☆</p>
        <p>
          当店では独自に優良割引サービスをご用意しております。※宿泊に限り<br>
          『吠え続けない、攻撃的な動作をしない』<br>
          『ケージ内で暴れない、排泄などケージ内を汚さない』<br>
          一つの項目をクリアすると500円割引となります。<br>
          二つの項目をクリアできるワンちゃんは最高で1,000円割引となります。<br>
          ※割引料金の適応は次回宿泊からの適応となります。ご了承ください。<br>
          ※一つの項目のうち片方だけのクリアでは割引対象となりません。<br>
          『猫ちゃんは暴れない、攻撃的な動作をしない』の項目をクリアすると500円割引となります。<br>
          割引の項目クリアについては、宿泊時の状態によって都度での当ホテルによる判断となりますので、ご了承ください。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆お預かり中の面会について☆</p>
        <p>
          当店にお預かりの間は、面会は一切お断りさせていただきます。 ご家族と1日でも離れることは、動物にとっては不安で寂しいことです。面会に来られた方が帰られた後、寂しさが募って鳴き続けてしまう子もいるため、ご遠慮いただいております。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆宿泊予定の変更・超過料金について☆</p>
        <p>
          宿泊の延長、お迎え時間のご変更をされる場合は、お早めにご連絡ください。<br>
          ※受入頭数に限りがあり、継続して利用できない場合がありますが、対応方法の検討をさせて頂くためにも早めに連絡をお願い致します。お迎え時間を1時間過ぎた時点で延長料金をいただいております。<br>
          事前連絡なしでの時間超過の場合は、一時預かり等のセット時間料金は適応されません。<br>
          一時間毎での延長料金加算となりますのでご注意ください。<br>
          お迎えに来られない場合について お迎え予定時刻を経過しても飼い主様がわんちゃんをお迎えに来られない場合は、その予定時刻からお迎えまでの間に要したフード代や、その他の実費を別途ご請求させていただきます。<br>
          予定時刻が過ぎても当店に連絡が無い場合は、飼い主様、および緊急連絡先へご連絡させていただきます。<br>
          お迎え予定時刻を7日過ぎても当店に何ら連絡をされない場合は、飼い主様の権利（所有権）は放棄したものとみなし、当店の判断にて、適切な処遇を決めさせていただきます。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆お散歩について☆</p>
        <p>
          天候状況や、宿泊状況、その他状況により変更する場合があります。<br>
          お散歩ができない場合は当店のドッグランで排泄をしていただきます。<br>
          チェックイン、チェックアウトの時間によってはお散歩をできない場合もございます。<br>
          一時預かりの場合でも、お散歩サービスを行えますので御相談ください。<br>
          基本的にはワンちゃんの運動量や、体力に合わせて行います。<br>
          下記のお散歩時間表は目安となります。
        </p>
        <table class="agreement__table">
          <tr>
            <th>お散歩時間</th>
            <td>小型犬</td>
            <td>中型犬</td>
            <td>大型犬</td>
          </tr>
          <tr>
            <th>一泊(1日2回)</th>
            <td>1回40分程度×2回</td>
            <td>1回60分程度×2回</td>
            <td>1回90分程度×2回</td>
          </tr>
          <tr>
            <th>半日(12時間)</th>
            <td>1回40分程度×1回</td>
            <td>1回60分程度×1回</td>
            <td>1回90分程度×1回</td>
          </tr>
          <tr>
            <th>一時預かり(6時間)</th>
            <td>ドッグラン</td>
            <td>ドッグラン</td>
            <td>ドッグラン</td>
          </tr>
          <tr>
            <th>延長(1時間)</th>
            <td>なし</td>
            <td>なし</td>
            <td>なし</td>
          </tr>
        </table>
        <p>お散歩とお食事の時間指定はできません。</p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆免責事項について☆</p>
        <p>
          万全を期してお預かりいたしますが、天災など不可抗力による事故、弊社に起因しない火災など、不慮の事故、高齢、持病、特異体質に基づく発病・死亡・ケガ・逃亡につきましては一切の責任を負いかねますのでご了承ください。ご自宅に帰ら れた後、緊張の緩和から体調を崩してしまう場合がありますので、ご帰宅後はしばらく安静にしてください。<br>
          ご帰宅後の体調の変化に基づく病気・事故などの責任は一切負いかねますのでご了承ください。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆お預かり中の病気・事故について☆</p>
        <p>
          お預かり中は愛情をもって丁寧に接しますが、急激な環境の変化によるストレスなどにより、発病またはケガなどをした場合は、飼い主様へご連絡をし対処致します。<br>
          飼い主様と連絡がとれない場合や緊急時には、当店判断にて当店かかりつけ動物病院へ行き、獣医師の治療を受けさせていただきます。<br>
          入院や急を要する場合は、獣医師の指示に従わせていただきます。<br>
          その際の、治療費、入院費などの実費はすべてお客様のご負担となりますので御了承ください。<br>
          特異体質などにより不慮の事故、止むを得ざる原因による失踪、死亡、損傷の場合ただちに連絡いたしますが、慰謝料や 損害賠償などの請求はお受けできません。<br>
          万が一、わんちゃん同士の喧嘩によるケガ、じゃれあいなどで歯が当たり傷ができる可能性、よだれがついて被毛やわんちゃ んの洋服などが汚れる可能性もありますのでご了承ください。<br>
          ノミ・ダニなどが確認された場合、当店の判断で処置させていただきます。<br>
          その際の治療費などの実費はすべてお客様のご負担となります。<br>
          当ホテルが起因による事故や、怪我につきましては飼い主様と相談のうえ費用の割合を決めさせて頂きます。<br>
          お預かりしたペットによりスタッフが怪我をした場合には、治療費をご請求させて頂きます。<br>
          お預かりしたペットがホテルの備品を破壊した場合には弁償して頂きます。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆守秘義務について☆</p>
        <p>
          当店は業務上、知り得た飼い主様の顧客情報を漏らしてはならず、業務が終了した後も同様といたします。<br>
          ただし、飼い主様の掲載許可を得たうえでの限定的な情報に限りSNS掲載などはこれにあたらないものとします。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆変更について☆</p>
        <p>
          料金や、規約の内容など変更する場合がありますが、事前予約をしている段階であっても変更内容に関してはお客様が確認し了承したものとさせて頂きます。<br>
          ※予約時の説明内容と受付時の説明内容に相違がある場合があります。
        </p>
      </div>
      <div class="agreement__txtbox">
        <p class="agreement__title">☆協議について☆</p>
        <p>
          この契約に定めのない事項について疑義が生じたときは、当店と飼い主様との協議の上、解決するものといたします。<br>
          また、料金の未払いや、お預かり中のトラブルなど、両者での協議に進展が見られない場合には法的な手段に移行させて頂きます。<br>
          その際にかかる弁護士費用、遅延損害金につきましては上限金額まで請求させて頂きます。<br>
          以上のすべての項目について同意いただける場合は、下記へご署名をお願いいたします。<br>
          （次回以降、ご依頼くださる場合はこの契約内容を了承したものとみなします。）
        </p>
      </div>
      <p class="agreement__txt">
        ペットホテル犬寝(ケンネル)<br>
        第一種動物取扱業 第3231011号 保管<br>
        登録年月日 令和5年12月15日<br>
        有効期限 令和10年12月14日<br>
        動物取扱責任者 高山 順元<br>
        愛玩動物飼養管理士2級、認定ペットシッター、愛玩動物看護士、愛玩動物救命士、犬の行動生活アドバイザー、犬の健康生活管理士、犬の皮膚被毛ケアリスト、介護福祉士
      </p>
    </div>
  </div>
</BaseLayout>

<style>
#agreement__pages {
  margin: 8rem 0;

  .section__title {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5.6rem;
  }
  .agreement__main-txt {
    margin-bottom: 5.6rem;
  }
  .agreement__subtitle {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4.0rem;
  }
  .agreement__txtbox {
    font-size: 1.6rem;
    margin-bottom: 4.0rem;

    .agreement__title {
      text-decoration: underline;
    }
    .under__spaced {
      margin-bottom: 2.4rem;
    }
  }
  .agreement__table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
    margin: .8rem 0;

    th,
    td {
      padding: .8rem 0;
      border: 1px solid #333333;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
  .agreement__txt {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  #agreement__pages {
    margin: 4rem 0;

    .section__title {
      font-size: 2.4rem;
      margin-bottom: 4rem;
    }
    .agreement__main-txt {
      margin-bottom: 2.4rem;
    }
    .agreement__subtitle {
      font-size: 2rem;
      margin-bottom: 2.4rem;
    }
    .agreement__txtbox {
      font-size: 1.4rem;
      margin-bottom: 2.4rem;

      .under__spaced {
        margin-bottom: .8rem;
      }
    }
    .agreement__table {
      margin: .4rem 0;

      th,
      td {
        padding: .4rem 0;
        font-size: 1.2rem;
      }
    }
    .agreement__txt {
      font-size: 1.4rem;
    }
  }
}
</style>