@charset "UTF-8";

/*============================
whole
============================*/
html {
  font-size: 62.5%;
}
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #333333;
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  background-color: #F8F7F4;
}
main {
  margin-top: 14.6rem;
  overflow: hidden;
}
a {
  color: #333333;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
li {
  list-style: none;
}
.mochiy-pop {
  font-family: 'Mochiy Pop One', sans-serif;
}
.ns-jp {
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    html {
        overflow-x: auto;
    }
    body {
        width: 1200px;
        overflow-x: hidden;
    }
}
@media screen and (min-width: 769px){
    body {
        min-width: 1200px;
    }
    .sp-only {
        display: none;
    }
}
@media screen and (max-width: 768px){
    .pc-only {
        display: none;
    }
    body {
      font-size: 1.6rem;
    }
    main {
      margin-top: 5.4rem;
    }
}

/*============================
layout
============================*/
.container {
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
}
@media screen and (max-width: 768px){
    .container {
        padding: 0 calc( 10 / 375 * 100%);
    }
}