---
interface Props {
  label: string;
  href: string;
  variant?: "use" | "price"; // ボタンのスタイル切替用
  external?: boolean; // 外部リンク（target=_blank）制御
}

const {label, href, variant = "use", external = false} = Astro.props;

import ArrowImg from "@/assets/img/arrow.svg";
---

<a href='/pet-hotel_kennel/' class={`btn btn-${variant}`}>
  <span>{label}</span>
  <div class="arrow__circle">
    <img src={ArrowImg.src}>
    <img src={ArrowImg.src}>
  </div>
</a>

<style lang="scss">
.btn {
  background-color: #B24759;
  border: 1px solid #B24759;
  display: inline-flex;
  align-items: center;
  gap: 2.4rem;
  padding: 1.8rem 4rem;
  border-radius: 999px;
  transition: 0.3s ease;
  cursor: pointer;

  span {
    white-space: nowrap;
    color: #ffffff;
    transition: 0.3s ease;
  }

  .arrow__circle {
    position: relative;
    overflow: hidden;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;

    img {
      position: absolute;
      width: 1.6rem;
      height: 1.6rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
    }

    img:last-child {
      opacity: 0;
      transform: translate(-150%, -50%);
    }
  }

  @media (min-width: 769px) {
    &:hover {
      background-color: #ffffff;

      span {
        color: #B24759;
      }

      .arrow__circle {
        img:first-child {
          animation: arrow-slide-out 0.6s forwards ease;
        }
        img:last-child {
          animation: arrow-slide-in 0.6s forwards ease;
        }
      }
    }
  }
}

@keyframes arrow-slide-out {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(150%, -50%);
    opacity: 0;
  }
}

@keyframes arrow-slide-in {
  0% {
    transform: translate(-150%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 1.6rem;
    gap: 1.6rem;
    padding: 1.2rem 2.4rem;

    .arrow__circle {
      width: 2.4rem;
      height: 2.4rem;

      img {
        width: 1.2rem;
        height: 1.2rem;
      }

      img:last-child {
        opacity: 0;
        transform: translate(-150%, -50%);
      }
    }

    /* SPでも hover アニメーションする場合 */
    &:hover {
      background-color: #ffffff;

      span {
        color: #B24759;
      }

      .arrow__circle {
        img:first-child {
          animation: arrow-slide-out 0.6s forwards ease;
        }
        img:last-child {
          animation: arrow-slide-in 0.6s forwards ease;
        }
      }
    }
  }
}
</style>