---
interface Props {
  title: string;
}

const {title} = Astro.props;
---

<h3 class="text__title">{title}</h3>

<style>
.text__title {
  font-size: 2.4rem;
  font-weight: 500;
  padding-left: .8rem;
  border-left: 4px solid #B24759;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 768px) {
  .text__title {
    font-size: 2rem;
    padding-left: .4rem;
    margin-bottom: 1.6rem;
  }
}
</style>